# Exclude files not needed in the container build context
.git
.gitignore
node_modules
npm-debug.log
**/.DS_Store

# Exclude local artifacts
kiosk-shell/node_modules
kiosk-shell/dist
kiosk-shell/.cache

# Editor/project files
.vscode
.idea
